/* login page */
#login-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#login-page{
  background-color:var(--color2);
  color: var(--color1);
  border-radius: 20px;
  padding: 20px;
}
#login-form{
  font-size: 25px;
  text-align: center;
}
/* .flex-column em {
  font-size: 20px;
}
.flex-column input,
.flex-column button{
  font-family: var(--font1);
  font-size: 20px;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--color1);
  color: whitesmoke;
}
.flex-column input {
  margin-top: 10px;
  outline: none;
  text-align: center;
}
.flex-column input::placeholder{
  color: whitesmoke;
  font-style: italic;
}
.flex-column input:hover,
.flex-column button:hover{
  background-color: red;
  transition: 0.7s;
} */